<!--at{
    ViewBag.Calc = 20 / 5;
}-->

@model BooksViewModel
<!--<h1>atViewBag.Calc</h1>-->

<h1>The Bookstore</h1>

<!-- some new styling and display of book info -->
@foreach (Book b in Model.Books)
{
    <partial name="ProjectSummary" />
}

<!--this works for everyone else, I pulled it from the book but it doesn't work...'-->
<div page-blah="@Model.PageInfo" page-action="Index" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group pull-right m-1">
</div>

<!-- old - just referencing as notes
<a asp-action="Index" asp-route-pageNum="1">1</a>
<a asp-action="Index" asp-route-pageNum="2">2</a>
<a asp-action="Index" asp-route-pageNum="3">3</a>
<div page-blah="atsignModel.PageInfo" page-action="Index"></div>
-->
