@page
@model Mission09_bbdaley.Pages.PurchaseCompletedModel
@{
}

<!--confirmation page upon completing the order-->

<div class="text-center">
    <h2>Thank you for your purchase!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>